@{
    ViewBag.Title = "About";
}
 
<!-- banner start -->
<div class="banner-area about-us">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="banner-text text-center">
                    <div class="banner-title">
                        <h2>about us</h2>
                    </div>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="/">Trang chủ</a>&gt;</li>
                            <li>Giới thiệu </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->